html, body {
    box-sizing: border-box;          
}

.container {    
    display: grid;
    justify-content: center; 
    width: 70%;
    grid-gap: 10px;     
}


.cabecalho {
    grid-row: 1;
    grid-column: 1 / span 3; 
}

.main {
    display: grid;
    grid-row: 2;
    grid-column: 1 / span 2;
    grid-gap: 10px;         
     
}

.main img {
    grid-row: 1;
    grid-column: 1 / span 3;
    width: 100%;
}

.main h1 {
    grid-row: 2;
    grid-column: 1 / span 1.5;
    margin-right: 200px;
    font-weight: 900;
    font-size: 50px;
}

.main p {
    grid-row: 2;
    grid-column: 1.5 / span 3;

}

.main button {
    margin-top: 20px;
    padding: 15px;
    font-size: larger;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color:hsl(5, 85%, 63%);
    border:hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
}

.main button:hover {
    background-color: hsl(240, 100%, 5%); 
}

.news {
    grid-row: 2;
    grid-column: 3;
    color: white;    
    background-color: hsl(240, 100%, 5%);    
    
}

.news h2 {
    color: hsl(35, 77%, 62%);
}

.news h5:hover {
    color: hsl(35, 77%, 62%);
}

.footer {
    display: flex;
    justify-content: space-between;
    grid-row: 3;
    grid-column: 1 / span 3;
    margin-top: 50px;      
    
}

.footer img {
    width: 100px;    
}

.attribution {
    grid-row: 4;
    grid-column: 1 / span 3;     
    font-size: 11px; text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}