html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;
}

.container {
    display: grid;
    width: 85%;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 15vh 60vh 20vh 5vh;    
    grid-gap: 20px;
}

.container .header {
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: left;
}

.container header ul {
    display: flex;    
}

.container header ul li {
    list-style: none;    
}

.container header ul li a {
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.container header ul li a.ativo {
    color:hsl(228, 45%, 44%);
    font-weight: bold;
}


.container header {
    display: flex;
    flex-direction: row;
    background-color:chartreuse;
    grid-column-start: 1;
    grid-column-end: 6;
}

main {
    background-color: pink; 
    grid-column-start: 1;
    grid-column-end: 5;    
}

main img {
    width: 200px;
}

aside {
    background-color:#2196F3;
    grid-column-start: 5;
    grid-column-end: 6;

}

footer {  
    background-color:blueviolet;
    grid-column-start: 1;
    grid-column-end: 6;

}

footer img {
    width: 40px;
}

.attribution {
     font-size: 11px; text-align: center;
     grid-column-start: 1;
     grid-column-end: 6;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}